services:
  postgres_db:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./seeds:/docker-entrypoint-initdb.d   
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: export_app
    ports:
      - "${API_PORT}:${API_PORT}"
    env_file:
      - .env
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./exports:${EXPORT_STORAGE_PATH}
    mem_limit: 150m

volumes:
  postgres_data: